html, body, .c {
  height: 100%;
  width: 100%;
}
body{
  display: table;
}
html, body, h1, h2 {
  margin: 0;
}
.c{
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.byline{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.yes, .yes a:link, .yes a:visited, .yes a:hover, .yes a:active{
  background-color: orange;
  color: black;
}
.no, .no a:link, .no a:visited, .no a:hover, .no a:active,
.maybe, .maybe a:link, .maybe a:visited, .maybe a:hover, .maybe a:active{
  background-color: black;
  color: orange;
}
h1{
  font-size: 12vw;
}
h2{
  font-size: 24vw;
}